html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box; /* Needed for column layout to work (_row.css) */
}

a {
    color: $mainOrange;
}